---
layout: default
---

<div class="home">


  <p><b>Boas vindas ao site do Dia Livre 2018</b></p>

  <p><b>SALVE A DATA!</b> Neste ano, o Dia Livre acontecerá no dia <b>19 de setembro, na FFLCH</a></b>. Aproveite a oportunidade e venha conhecer um pouco mais sobre Debian e Software Livre!</p>

  <h3>Onde e Quando</h3>
  <p>Prédio de filosofia e ciências socais FFLCH. Auditório 14<br>
  Dia 19/09/2018 14:00-17:00</p>

  <h3>Dia Livre</h3>
  <p>O dia livre Debian é um evento aberto a tod@s, independente do seu nível de conhecimento sobre software livre. O mais importante é apresentar o universo do Software Livre e em especial falar do projeto Debian, por isso queremos receber desde usuári@s inexperientes que querem iniciar o seu contato com software livre. Ou seja, estão tod@s convidad@s! Vale ressaltar que será uma oportunidade para conhecer como software livre pode trazer benefícios diretos para toda a sociedade.</p>
  <p>
    <img src="/images/dia-livre-flyer-2.jpg" alt="Cartaz do Dia Livre 2018">
  </p>

<h3>Projeto Debian</h3>

  <p><a href="http://debian-br.sourceforge.net/docs/sgml/project-history/online/ch1.html#s1.1">Oficialmente fundado</a> por Ian Murdock, em 16 de agosto de 1993, Debian representava o apelo à criação de uma distribuição GNU/Linux a ser mantida de uma maneira livre*. Desde então, Debian GNU/Linux -- sistema operacional composto inteiramente de software livre -- é mantido ativo por voluntári@s ao redor do mundo que compõe uma comunidade dinâmica e crescente. </br>*"Free as freedom", em português "livre como em liberdade", isto é: flexibilidade ao usuário para fazer o que precisar para usufruir do software e ao mesmo tempo protege os direitos d@s autor@s. </p>

</div>

<div>
  <h2>Organização</h2>
  <div style="margin: 15px">
    <a href="http://debianbrasil.org.br/">
      <img src="{{ site.url }}/images/logo-debianbrasil.png" alt="Debian Brasil logo">
    </a>
    <a href="https://wiki.debian.org/DebianDay">
      <img src="{{ site.url }}/images/debian-day.jpg" alt="Debian Day logo" style="max-width: 15%">
    </a>
  </div>
</div>

